{% extends 'base.html' %}

{% block content %}

<div class="card p-4 shadow">
    <h2>About PyStack Academy</h2>

    <p>
        PyStack Academy is a training institute focused on providing
        real-time industry skills in Python Full Stack and Data Analytics.
    </p>

    <p><strong>Features:</strong></p>
    <ul>
        <li>Live Classes</li>
        <li>Placement Support</li>
        <li>Real-Time Projects</li>
        <li>Interview Preparation</li>
    </ul>

    <p><strong>Contact:</strong> 8618415182 / 8660298124</p>
</div>

{% endblock %}