{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <h2>📊 Dashboard</h2>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card p-3 text-center">
                <h5>Total Payments</h5>
                <h3 id="total">0</h3>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3 text-center">
                <h5>Total Revenue</h5>
                <h3>₹<span id="revenue">0</span></h3>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3 text-center">
                <h5>Status</h5>
                <h3>Live</h3>
            </div>
        </div>
    </div>
</div>

<script>
function loadDashboard() {
    fetch("/payments/dashboard-data/")
    .then(res => res.json())
    .then(data => {
        document.getElementById("total").innerText = data.total;
        document.getElementById("revenue").innerText = data.revenue;
    });
}

// first load
loadDashboard()

// auto refresh
setInterval(loadDashboard, 5000);
</script>

{% endblock %}