{% extends 'base.html' %}

{% block content %}

<div class="card p-4 shadow">

    <!-- ✅ Course Details -->
    <h2>{{ course.title }}</h2>

    <p><strong>Duration:</strong> {{ course.duration }}</p>
    <p><strong>Price:</strong> ₹{{ course.price }}</p>
    {% if user.is_authenticated %}
        {% if course in user.enrollment_set.all %}
            <a href="/courses/content/{{ course.id }}/" class="btn btn-success w-100 mb-3">
                Start Learning
            </a>
        {% else %}
            <a href="/payments/pay/{{ course.id }}/" class="btn btn-warning w-100 mb-3">
                Buy Course
            </a>
        {% endif %}
    {% endif %}

    <h4>What You Will Learn:</h4>
    <ul>
        <li>HTML, CSS, JavaScript</li>
        <li>Python Basics & Advanced</li>
        <li>Django Framework</li>
        <li>SQL & Database</li>
        <li>Real-time Projects</li>
    </ul>

    <hr>

    <!-- 🔥 ENROLLMENT FORM -->
    <h4>Enroll Now</h4>

    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label>Your Name</label>
            <input type="text" name="name" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Mail ID</label>
            <input type="text" name="email" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Phone Number</label>
            <input type="text" name="phone" class="form-control" required>
        </div>

        <!-- <button class="btn btn-success w-50">Back</button>
        <button class="btn btn-success w-100">Submit & Enroll</button> -->
        <div class="d-flex gap-3">
            <button type="button" class="btn btn-success w-50" onclick="history.back()">
                Back
            </button>
            <button type="submit" class="btn btn-success w-50">
                Submit & Enroll
            </button>
        </div>
    </form>

</div>

{% endblock %}