{% extends 'base.html' %}

{% block content %}

<h2 class="text-center mb-4">Our Courses</h2>

<div class="row">

    <!-- Python Full Stack -->
    <div class="col-md-4 mb-4">
        <div class="card shadow">
            <div class="card-body">
                <h5>Python Full Stack</h5>
                <p>Frontend + Django + Database + Projects</p>
                <p><strong>Duration:</strong> 3 Months</p>
                <p><strong>Price:</strong> ₹15,000</p>

                <a href="/courses/1/" class="btn btn-primary w-100">View Details</a>
            </div>
        </div>
    </div>

    <!-- Data Analyst -->
    <div class="col-md-4 mb-4">
        <div class="card shadow">
            <div class="card-body">
                <h5>Data Analyst</h5>
                <p>Excel + SQL + Power BI + Python</p>
                <p><strong>Duration:</strong> 2 Months</p>
                <p><strong>Price:</strong> ₹12,000</p>

                <a href="/courses/2/" class="btn btn-primary w-100">View Details</a>
            </div>
        </div>
    </div>

</div>

{% endblock %}